= simple_form_for @user, url: url, html: { method: method, class: 'form-horizontal' } do |f|
  = f.input :name
  = f.input :email, input_html: { placeholder: 'username@restream.rt.ru' }
  = f.input :description
  = f.input :role, as: :select
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Сохранить', class: 'btn btn-primary'
