.row
  .col-md-6
    %h1 Пользователи
    %br
  .col-md-6
    .pull-right
      = link_to t('add'), new_admin_user_path, class: 'btn btn-default btn-lg btn-primary'

.row
  .col-md-12

    %table.table.table-hover.table-condensed.table-striped
      %tr
        %th Фамилия Имя
        %th Email
        %th Действия
      - @users.each do |user|
        %tr
          %td
            = user.name
            %span.label{ class: "label-#{ user.active? ? 'success' : 'danger' }" }
              = user.aasm.human_state
          %td
            = user.email
          %td
            = link_to t('edit'), edit_admin_user_path(user), class: 'btn btn-info btn-sm'
            = link_to t('delete'), admin_user_path(user), method: :delete, data: { confirm: t('are_you_sure')}, class: 'btn btn-danger btn-sm'

.row
  .col-md-12
    = paginate @users
