%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', :type => 'button'}
      = link_to t('obeder'), admin_root_path, class: 'navbar-brand'
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        = active_link_to t('.menu'), edit_admin_menu_path(Date.current), class_active: 'active', wrap_tag: :li
        = active_link_to t('.reports'), admin_user_menus_path(date: Date.current), class_active: 'active', wrap_tag: :li
        = active_link_to t('.dishes'), admin_dishes_path, class_active: 'active', wrap_tag: :li
        = active_link_to t('.users'), admin_users_path, class_active: 'active', wrap_tag: :li
      %ul.nav.navbar-nav.navbar-right
        %li
          %p.navbar-text
            = current_user.name
        %li
          = link_to t('logout'), logout_path
