%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ aria: { expanded: false }, data: { target: '#navbar', toggle: 'collapse' }, type: 'button' }
      = link_to t('obeder'), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav
        - today = Date.current
        = active_link_to t('.menu'), edit_admin_menu_path(today), class_active: 'active', wrap_tag: :li
        %li.dropdown
          %a.dropdown-toggle{ href: '#', data: { toggle: :dropdown }, role: :button, aria: { haspopup: true, expanded: false } }
            = t('.reports')
            %span.caret
          %ul.dropdown-menu
            = active_link_to t('.daily-reports'), admin_user_menus_path(date: today), class_active: 'active', wrap_tag: :li
            = active_link_to t('.monthly-reports'), admin_reports_path(year: today.year, month: today.month), class_active: 'active', wrap_tag: :li
        = active_link_to t('.dishes'), admin_dishes_path, class_active: 'active', wrap_tag: :li
        - if current_user.role.admin?
          = active_link_to t('.users'), admin_users_path, class_active: 'active', wrap_tag: :li
      %ul.nav.navbar-nav.navbar-right
        %li
          %p.navbar-text
            = current_user.name
        %li
          = link_to t('logout'), logout_path
