= render 'validation_modal'

.text-center
  - unless @menu.ready
    %button{ id: 'menu-publish__btn', class: 'btn btn-lg btn-success', data: { toggle: :modal, target: '#menu-validation__modal' } }
      = t('.publish_menu')
    %br
    %br

= simple_form_for @menu, html: { id: 'menu-form__form' }, url: admin_menu_path(@menu.date), method: :put do |f|
  .row
    .col-md-12
      = f.error_notification

      = f.simple_fields_for :menu_dishes do |menu_dish|
        = render 'menu_dish_fields', f: menu_dish

      .links.text-right
        = link_to_add_association t('.add_dish'), f, :menu_dishes, class: 'btn btn-lg btn-info'

      %br
      .well
        .pull-left
          = f.button :submit, value: t('.save'), class: 'btn btn-lg btn-primary'
        .clearfix
