%p
  = 'Hello'

= @user_menus.inspect
.row
  .col-md-3
    = link_to admin_reports_path(previous_report_params(@report_month, @report_year)) do
      %h2.glyphicon.glyphicon-chevron-left
  .col-md-6
    %h1.text-center
      = report_header(t("months_from_digits.#{@report_month}"), @report_year)
  .col-md-3
    .text-right
      = link_to admin_reports_path(next_report_params(@report_month, @report_year)) do
        %h2.glyphicon.glyphicon-chevron-right
