.row
  .col-md-3
    = link_to admin_monthly_reports_path(previous_report_params(@report_month, @report_year)) do
      %h2.glyphicon.glyphicon-chevron-left
  .col-md-6
    %h1.text-center
      = report_header(t("months_from_digits.#{@report_month}"), @report_year)
  .col-md-3
    .text-right
      = link_to admin_monthly_reports_path(next_report_params(@report_month, @report_year)) do
        %h2.glyphicon.glyphicon-chevron-right

%br

.text-right
  %a.btn.btn-default{ href: export_admin_monthly_reports_path(month: @report_month, year: @report_year) }
    %span
      = t('.export_to_excel')

%br

%table.table.table-bordered
  %tr.text-center
    %td
      = t('.name_column_title')
    - dates_in_month = dates_in_month(@beginning_of_month)
    - dates_in_month.each do |date|
      %td{ class: cell_color_class(date) }
        = date.day
    %td ∑
  - @users.each_with_index do |user, i|
    %tr.text-center
      %td
        #{i + 1}.
        = user.name
      - total_by_user = 0
      - dates_in_month.each do |date|
        %td{ class: cell_color_class(date) }
          - if user_ate?(user.id, date, @user_menus)
            - total_by_user += 1
            = 1
      %td
        = total_by_user
%p.text-right
  = t('.total')
  = @user_menus.size
